@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Space Grotesk", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent !important;
}

body {
  /* background-color: #0f1624; */
  background-color: #242424;
}

.boxshadow {
  box-shadow: rgba(219, 211, 211, 0.35) 0px 5px 15px;
}

.skillshadow {
  box-shadow: rgba(0, 0, 0, 0.45) -2px 5px 11px 2px;
}
label {
  color: white !important;
  font-size: 13px !important;
  font-weight: 500 !important;
  color: lightgray !important;
  padding-left: 5px !important;
}
input {
  background-color: #1e242c !important;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px,
    rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
  border: none !important;
  color: white !important;
}
textarea {
  background-color: #1e242c !important;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px,
    rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
  border: none !important;
  color: white !important;
}

.ant-tabs-tab:hover {
  color: rgb(147 197 253) !important;
}
.ant-tabs-tab {
  font-size: 32px !important;
  color: white !important;
}
.ant-tabs-tab:hover {
  color: rgb(147 197 253) !important;
}
.ant-tabs .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: rgb(147 197 253) !important;
}
.ant-tabs-tab {
  border: red !important;
}
.timeline_tabs:active {
  border: none !important;
  border-color: red !important;
}
.ant-tabs-nav::before {
  border: none !important;
}
.my_tabs {
  background-color: #242424;
}
@media screen and (max-width: 640px) {
  .ant-tabs-tab-btn {
    font-size: 1.2rem;
    font-weight: bold;
  }
}
/* 
@media screen and (min-width: 1000px) {
  .ant-tabs-nav-wrap {
    margin-left: 30%;
    margin-bottom: 30px;
  }
} */
